
# gRPC

gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-api/.idea
gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-api/grpc-springboot-demo-api.iml
gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-api/target
gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-consumer/.idea
gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-consumer/grpc-springboot-demo-consumer.iml
gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-consumer/target
gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-server/.idea
gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-server/grpc-springboot-demo-server.iml
gRPC/code-repository/grpc-springboot-demo/grpc-springboot-demo-server/target